[borg]
	pushDefault = locutus
	collective = emacsg
[submodule "auto-compile"]
	path = lib/auto-compile
	url = git@github.com:emacscollective/auto-compile.git
[submodule "borg"]
	path = lib/borg
	url = git@github.com:emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = git@github.com:emacscollective/closql.git
[submodule "dash"]
	path = lib/dash
	url = git@github.com:magnars/dash.el.git
	no-byte-compile = dash-functional.el
	no-makeinfo = dash-template.texi
[submodule "diff-hl"]
	path = lib/diff-hl
	url = git@github.com:dgutov/diff-hl.git
[submodule "elisp-refs"]
	path = lib/elisp-refs
	url = git@github.com:Wilfred/elisp-refs.git
[submodule "emacsql"]
	path = lib/emacsql
	url = git@github.com:skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = git@github.com:emacscollective/epkg.git
[submodule "git-modes"]
	path = lib/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "helpful"]
	path = lib/helpful
	url = git@github.com:Wilfred/helpful.git
[submodule "hl-todo"]
	path = lib/hl-todo
	url = git@github.com:tarsius/hl-todo.git
[submodule "keychain-environment"]
	path = lib/keychain-environment
	url = git@github.com:tarsius/keychain-environment.git
[submodule "magit"]
	path = lib/magit
	url = git@github.com:magit/magit.git
	no-byte-compile = lisp/magit-libgit.el
	recursive-byte-compile = true
	info-path = Documentation
[submodule "minions"]
	path = lib/minions
	url = git@github.com:tarsius/minions.git
[submodule "packed"]
	path = lib/packed
	url = git@github.com:emacscollective/packed.git
[submodule "reverse-im"]
	path = lib/reverse-im
	url = git@github.com:a13/reverse-im.el.git
[submodule "solarized-theme"]
	path = lib/solarized-theme
	url = git@github.com:bbatsov/solarized-emacs.git
[submodule "transient"]
	path = lib/transient
	url = git@github.com:magit/transient.git
	info-path = docs
[submodule "treepy"]
	path = lib/treepy
	url = git@github.com:volrath/treepy.el.git
[submodule "use-package"]
	path = lib/use-package
	url = git@github.com:jwiegley/use-package.git
[submodule "which-key"]
	path = lib/which-key
	url = git@github.com:justbur/emacs-which-key.git
[submodule "with-editor"]
	path = lib/with-editor
	url = git@github.com:magit/with-editor.git
